@use "../../utils/variables.module.scss";

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: 'Courier New', Courier, monospace;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background-color: variables.$light-blue;
    width: 100%;
    height: 100%;
    flex: 2;
}

.login {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 1rem;
    padding-left: 5rem;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-bottom: 0rem;
    width: 20rem;
}

button {
    margin: 2rem;
    width: 7.5rem;
    height: 2.7rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: variables.$blue;
    color: white;
    font-weight: bold;
}

.text {
    font-weight: bold;
    font-size: 1.5rem;
}