@use "../../utils/variables.module.scss";

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 2fr 3fr;
    font-family: 'Courier New', Courier, monospace;
}

.nav {
    grid-area: 1 / 1 / 2 / 3;
}

.banner {
    background-color: variables.$light-blue;
    grid-area: 2 / 1 / 3 / 2;
}

form {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer {
    grid-area: 3 / 1 / 4 / 3;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-bottom: 0rem;
    margin-left: 6rem;
    width: 20rem;
}

.button {
    margin: 2rem;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    
    button {
        width: 7.5rem;
        height: 2.7rem;
        font-size: 1.1rem;
        border-radius: 0.5rem;
        border: 0;
        background-color: variables.$blue;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}

.text {
    font-weight: bold;
    font-size: 1.5rem;
}