@use "../../utils/variables.module.scss";

.room {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    height: 100vh;
}

.nav {
    grid-area: 1 / 1 / 2 / 2;
}

.main {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 3rem;
    @media (max-width: 480px) {
        margin-top: 0.5rem;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 50rem;
    font-family: 'Courier New', Courier, monospace;

    .leave {
        flex: 1;
        cursor: pointer;
    }
    .room-code{
        flex: 1;
        font-weight: bold;
        text-align: center;
    }
    .empty {
        flex: 1;
    }
}

.chat {
    background-color: variables.$light-blue;
    flex: 1;
    width: 100%;
    max-width: 50rem;
    max-height: 26rem;
    @media (max-width: 480px) {
        max-height: 29.5rem;
    }
    border-radius: 2rem 2rem 0rem 0rem;
    overflow-y: auto
    
}

.input {
    background-color: variables.$light-blue;
    border-top: 1px solid variables.$blue;
    width: 100%;
    max-width: 50rem;
    max-height: 2.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        margin-left: 0.5rem;
        flex: 9;
        border: 0;
        background-color: transparent;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        outline: none;
    }
    button {
        margin: 0.5rem;
        flex: 1;
        border: 0;
        background-color: variables.$blue;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
        border-radius: 0.5rem;
    }
}

.message {
    padding: 0.5rem;
}

.footer {
    grid-area: 3 / 1 / 4 / 2;
}