@use "../../utils/variables.module.scss";

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 2fr 3fr;
    font-family: 'Courier New', Courier, monospace;
}

.nav {
    grid-area: 1 / 1 / 2 / 3;
}

.left {
    grid-area: 2 / 1 / 3 / 2;
    @media (max-width: 480px) {
        display: none;
    }
    background-color: variables.$light-blue;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (max-width: 480px) {
        grid-area: 2 / 1 / 3 / 3;
        margin: 0;
        justify-content: center;
    }
}

.form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    flex: 1;
    margin: 3rem;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}

.input {
    width: 15rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.loading{
    align-self: center;
}

.header{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;

    .refresh {
        font-size: 0.8rem;
        margin-left: auto;
        cursor: pointer;
    }
}

.rooms {
    overflow-y: scroll;
    max-height: 20rem;
    margin: 3rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    background-color: variables.$light-blue;
    display: flex;
    flex-direction: column;
    flex: 5;
}

.button {
    display: flex;
    flex-direction: column;
    width: 15rem;
    align-items: center;
    margin: 0.7rem;

    button {
        height: 2rem;
        border-radius: 0.6rem;
        border: 0;
        background-color: variables.$blue;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
        height: 2.3rem;
        width: 6.3rem;
        cursor: pointer;
    }
}

.room {
    margin: 0.5rem;
    margin-bottom: 0;
}

footer {
    grid-area: 3 / 1 / 4 / 3;
}