@use "../../utils/variables.module.scss";

body {
    margin: 0px;
}

.navbar {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

#empty {
    flex: 1;
}

#title {
    font-weight: 100;
    margin: 0px;
    flex: 1;
    text-align: center;
    color: black;
}

#link {
    height: fit-content;
    flex:1;
    text-align: center;
}

.link{
    text-decoration: none;
    color: black;
}