@use "../../utils/variables.module.scss";

.receiver {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.sender {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    align-items: flex-end;
}

.name {
    color: variables.$dark-blue;
    font-weight: bold;
}

.text {
    background-color: white;
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    color: variables.$dark-blue;
}